!!!
%head
  %meta{:charset => "UTF-8"}/
  %title 学際情報学府制作展
  %meta{:content => "smurakami", :name => "keywords"}/
  %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
  / %meta{:content => "telephone=no", :name => "format-detection"}/
  %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
  / %link{:href => "css/smart.css", :media => "only screen and (max-device-width:480px)", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
  / %link{:href => "css/style.css", :media => "screen and (min-device-width:481px)", :rel => "stylesheet", :type => "text/css"}/
  /[if IE] <script type="text/javascript" src="excanvas.js"></script>
  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "js/jquery-2.1.0.min.js"}
  / Add fancyBox
  %link{:href => "./fancybox/source/jquery.fancybox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "./fancybox/source/jquery.fancybox.pack.js", :type => "text/javascript"}
  %script{:src => "js/main.js"}
%body
  %section#top
    .constraint
      #top-img-rotate
        %img{:alt => "東京大学制作展", :src => "img/top-img-rotate.png"}/
      #top-img
        %img{:alt => "東京大学制作展", :src => "img/top-img.png"}/
      #top-copy
        %p.sm.md リアルからちょっと離れてる空間
        %p.lg リアルから
        %p.lg ちょっと離れてる
        %p.lg 空間
      #top-info
        %p 2014年xx月xx日 ~ xx月xx日
        %p xx:xx ~ xx:xx (最終日はxx:xx ~ xx:xx)
        %p
          東京大学工学部2号館xxxx (
          %a{:href => "#"} Map
          )
    #top-city-img
  %section#nav
    .constraint
      #nav-logo
        %a#top-link{:href => "#"}
          %img{:src => "img/logo-min.png"}/
      #nav-link
        %ul
          %li
            %a#intro-link{:href => "#"} ご挨拶
          %li
            %a#gallery-link{:href => "#"} ギャラリー
        %ul
          %li
            %a#staff-link{:href => "#"} スタッフ
          %li
            %a#access-link{:href => "#"} アクセス
  #nav-alt.hidden
  %section#intro
    .constraint
      .title
        %p ご挨拶
      .container
        .img-container
          %img{:src => "img/naemura-sensei.png"}/
        .about
          %p.name お名前
          %p.prop 所属
          %p.prop 所属
          %p.prop 役職
        .greeting
          %p あいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつ
      .container
        .img-container
          %img{:src => "img/naemura-sensei.png"}/
        .about
          %p.name 北原　俊
          %p.prop プロデューサー
          %p.prop 東京大学大学院学際情報学府
          %p.prop xx研究室所属一年
        .greeting
          %p
            東京大学制作展は、我々学生が持てる限るの技術とアイディアを振り絞って創りあげたメディアアートの展覧会です。大学院情報学環・学際情報学府の授業の一環として、大学院生が主体となり、企画・運営を行ってきました。
            今回のテーマは「リアルからちょっと離れてる空間」です。
            各作家が普段学んでいる最先端の技術や考えをメディアアートとして皆様に楽しく体験していただきたい、そんな思いを込めて作品を創りあげています。
            3ヶ月弱という短い期間ではありますが、全力で準備をしてきました。まだまだ荒削りな部分もあるかもしれません。ですがその分勢いがあり、各作家の特色濃い作品が揃っています。
            ぜひ会場にいらしてください。何も難しいことはありません。気軽に楽しめる、でもちょっと不思議な「リアルから離れてる空間」があなたを待っています。
  %section#gallery
    .constraint
      .title
        %p ギャラリー
      .subtitle
        %p 作品
      #gallery-works
        %ul
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "指人形", :src => "img/work/ujitoko.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p 指人形
                    .work-thumb-space
                      %p 不安定空間
                    .work-thumb-author
                      %p 宇治土公 雄介
                    .work-detail
                      .work-detail-title
                        %p 指人形
                      .work-detail-space
                        %p 不安定空間
                      .work-detail-author
                        %p 宇治土公 雄介
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 先端表現情報学コース 広田研究室 修士課程1年
                      .work-detail-note
                        %p
                          擬人的な指の動きを利用したインターフェースが、ユーザーと映像空間をつなぐ。指先に人が宿る感覚を提供します。
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "LifeSequencer", :src => "img/work/kawase.png"}/
                  .work-description
                    .work-thumb-title
                      %p LifeSequencer
                    .work-thumb-space
                      %p 音楽空間
                    .work-thumb-author
                      %p 川瀬 佑司
                    .work-detail
                      .work-detail-title
                        %p LifeSequencer
                      .work-detail-space
                        %p 音楽空間
                      .work-detail-author
                        %p 川瀬 佑司
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 先端表現情報学コース 廣瀬・谷川研究室 修士課程1年
                      .work-detail-note
                        %p
                          日常の何気ない行動にも一つ一つ意味がある。<br />
                          私達が普段気にも留めない行動でも大きな変化をもたらす可能性があることを、音楽で表現した作品。
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "Moveilet", :src => "img/work/seisakuten_chotoku.png"}/
                  .work-description
                    .work-thumb-title
                      %p Moveilet
                    .work-thumb-space
                      %p 思い出空間
                    .work-thumb-author
                      %p 長徳 将希
                    .work-detail
                      .work-detail-title
                        %p Moveilet
                      .work-detail-space
                        %p 思い出空間
                      .work-detail-author
                        %p 長徳 将希
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 先端表現情報学コース 苗村研究室 修士課程1年
                      .work-detail-note
                        %p
                          最先端のウェアラブルデバイスであるGoogle Glassを用いて、<br />
                          製作展の作品を見た思い出を動画に残し、自分だけのお土産を作れます。
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "みつめうさぎ", :src => "img/work/comingsoon.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p みつめうさぎ
                    .work-thumb-space
                      %p うさぎ空間
                    .work-thumb-author
                      %p 徳茂宏之
                    .work-detail
                      .work-detail-title
                        %p みつめうさぎ
                      .work-detail-space
                        %p うさぎ空間
                      .work-detail-author
                        %p 徳茂宏之
                      .work-detail-affiliation
                        %p 東京大学大学院 情報理工学系研究科 知能機械情報学専攻  廣瀬・谷川研究室 修士課程1年
                      .work-detail-note
                        %p
                          不思議な世界にはうさぎはつきものです。<br />
                          額縁の中のうさぎは人の心を見透かし、様々な魔法を使って不思議な世界へと誘います。<br />
                          さあ、胸に手を当てて目の前の椅子に座ってみてください。
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "minutescope", :src => "img/work/togo.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p minutescope
                    .work-thumb-space
                      %p 一分空間
                    .work-thumb-author
                      %p 都甲直之
                    .work-detail
                      .work-detail-title
                        %p minutescope
                      .work-detail-space
                        %p 一分空間
                      .work-detail-author
                        %p 都甲直之
                      .work-detail-affiliation
                        %p 東京大学大学院 学際情報学府 学際情報学専攻 先端表現情報学コース 山中研究室 修士課程1年
                      .work-detail-note
                        %p
                          有限と無限の間を伸びたり縮んだりする1分間
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "Moving Theatre", :src => "img/work/comingsoon.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p Moving Theatre
                    .work-thumb-space
                      %p 体感空間
                    .work-thumb-author
                      %p 平木 剛史, 北原 俊, 原 清楓, 角戸 絵理
                    .work-detail
                      .work-detail-title
                        %p Moving Theatre
                      .work-detail-space
                        %p 体感空間
                      .work-detail-author
                        %p 平木 剛史
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 先端表現情報学コース 苗村研究室 修士課程1年
                      .work-detail-author
                        %p 北原 俊
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 先端表現情報学コース 小川研究室 修士課程1年
                      .work-detail-author
                        %p 原 清楓 角戸 絵理
                      .work-detail-affiliation
                        %p 多摩美術大学 美術学部情報デザイン学科 学士課程3年
                      .work-detail-note
                        %p
                          「うわっ」と驚く映像"体感"をあなたに．<br />
                          黒子ロボットがあなたのために動きまわって働きます．
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "言玉（ことだま）", :src => "img/work/comingsoon.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p 言玉（ことだま）
                    .work-thumb-space
                      %p 言玉空間
                    .work-thumb-author
                      %p 藤縄英佑
                    .work-detail
                      .work-detail-title
                        %p 言玉（ことだま）
                      .work-detail-space
                        %p 言玉空間
                      .work-detail-author
                        %p 藤縄英佑
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 先端表現情報学コース 廣瀬・谷川研究室 修士課程1年
                      .work-detail-note
                        %p
                          声に出した言葉が音の玉となって漂う空間
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "ヴァーチャルアクアリウム", :src => "img/work/comingsoon.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p ヴァーチャルアクアリウム
                    .work-thumb-space
                      %p 水中空間
                    .work-thumb-author
                      %p 山本紘暉
                    .work-detail
                      .work-detail-title
                        %p ヴァーチャルアクアリウム
                      .work-detail-space
                        %p 水中空間
                      .work-detail-author
                        %p 山本紘暉
                      .work-detail-affiliation
                        %p 東京大学大学院 情報理工学系研究科 電子情報学専攻  苗村研究室 修士課程1年
                      .work-detail-note
                        %p
                          水の中の金魚。それは本当にそこにいるわけではない映像の金魚です。<br />
                          しかし、映像であっても本物がいるのと同じように感じられる、そんな水中の空間を目指しました。
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "シャコボクサー", :src => "img/work/afukushima.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p シャコボクサー
                    .work-thumb-space
                      %p 危険空間
                    .work-thumb-author
                      %p 福嶋昭彦
                    .work-detail
                      .work-detail-title
                        %p シャコボクサー
                      .work-detail-space
                        %p 危険空間
                      .work-detail-author
                        %p 福嶋昭彦
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 先端表現情報学コース 河口研究室 博士課程1年
                      .work-detail-note
                        %p
                          水に潜む強力な一撃。犠牲者はのちに語る。「何にやられたのかわからない。」<br />
                          ただでさえ強い水中の王者がさらに巨大になって陸に上がってしまったら。
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "The 360° Skyline Song", :src => "img/work/360skyline_matsui.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p The 360° Skyline Song
                    .work-thumb-space
                      %p 音響空間
                    .work-thumb-author
                      %p 松井　克文
                    .work-detail
                      .work-detail-title
                        %p The 360° Skyline Song
                      .work-detail-space
                        %p 音響空間
                      .work-detail-author
                        %p 松井　克文
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 文化・人間コース 荒川研究室 博士課程2年
                      .work-detail-note
                        %p
                          東南アジアのビーチでずっと水平線を観ていると、風景の中にある”境界線”の存在が気になりはじめた。東京に戻ってきても、風景の中にある境界線を探してい空と街には一本の境界線ができる。東京には様々なかたちの境界線があった。ずっと眺めているとだんだん、その境界線が音の波に見えてきた。街がつくる境界線の音を聴いてみたい。そんな動機から始まった作品。
                        %p
                          技術協力 小笠原 一憲 岡本 征子
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "てあらいかがみ", :src => "img/work/tearai_matsui.jpg"}/
                  .work-description
                    .work-thumb-title
                      %p てあらいかがみ
                    .work-thumb-space
                      %p 衛生空間
                    .work-thumb-author
                      %p 松井 克文, 西原 英里, 竹内 裕太, 木原 共, 伊藤 航, 加藤 雄大
                    .work-detail
                      .work-detail-title
                        %p てあらいかがみ
                      .work-detail-space
                        %p 衛生空間
                      .work-detail-author
                        %p 松井 克文, 西原 英里, 竹内 裕太, 木原 共, 伊藤 航, 加藤 雄大
                      .work-detail-affiliation
                        %p 東京大学大学院　学際情報学府 学際情報学専攻 文化・人間コース 荒川研究室 博士課程2年
                      .work-detail-note
                        %p
                          手洗いは様々の病気の予防につながります。手洗いの重要性は浸透しつつあり、<br />
                          多くの人が風邪予防のため自主的に行うようになってきました。<br />
                          しかし、「正しい手の洗い方」までは浸透しておらず、効果的な予防にまでは至っていない現状があります。
                        %p
                          「てあらいかがみ」は、小さな子どものうちから「正しい手の洗い方」を楽しく勉強できる鏡のようなサイネージです。<br />
                          手洗いを正しく、楽しく勉強し、みんなに伝えたくなる仕組みをつくることで、 正しい手洗いの習慣を子供たちに身につけてもらいたいと考えています。

      .subtitle
        %p メイキング
      #gallery-making
        %ul
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
  %section#staff
    .constraint
      .title
        %p スタッフ
      .subtitle
        %p プロデューサー
      %ul
        %li
          %p 北原　俊
        %li
          %p 平木　剛史
      .subtitle
        %p 会計
      %ul
        %li
          %p 山本　紘暉
      .subtitle
        %p Web・記録
      %ul
        %li
          %p 長徳　将希
        %li
          %p 都甲　直之
        %li
          %p 川瀬　佑司
        %li
          %p 李 遂喆
      .subtitle
        %p デザイン
      %ul
        %li
          %p 中村　鮎葉
        %li
          %p 高橋　一成
        %li
          %p 宇田川　祐志
        %li
          %p 栗本　拓紀
        %li
          %p 村上晋太郎
      .subtitle
        %p 会場
      %ul
        %li
          %p 藤縄　英佑
        %li
          %p 宇治土公　雄介
        %li
          %p 荒巻　祐治
        %li
          %p 田中　遼平
      .subtitle
        %p 広報
      %ul
        %li
          %p 加賀谷　北斗
        %li
          %p 向井　寛人
        %li
          %p 藤本　浩介
  #footer-city-img
  %section#footer
    .constraint
      #footer-copy
        %p Copyright &copy; iii Exhibition Extra 2014. All Rights Reserved.
