!!!
%head
  %meta{:charset => "UTF-8"}/
  %title 学際情報学府制作展
  %meta{:content => "smurakami", :name => "keywords"}/
  %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
  / %meta{:content => "telephone=no", :name => "format-detection"}/
  %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
  / %link{:href => "css/smart.css", :media => "only screen and (max-device-width:480px)", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
  / %link{:href => "css/style.css", :media => "screen and (min-device-width:481px)", :rel => "stylesheet", :type => "text/css"}/
  /[if IE] <script type="text/javascript" src="excanvas.js"></script>
  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "js/jquery-2.1.0.min.js"}
  / Add fancyBox
  %link{:href => "./fancybox/source/jquery.fancybox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "./fancybox/source/jquery.fancybox.pack.js", :type => "text/javascript"}
  %script{:src => "js/main.js"}
%body
  %section#top
    .constraint
      #top-img-rotate
        %img{:alt => "東京大学制作展", :src => "img/top-img-rotate.png"}/
      #top-img
        %img{:alt => "東京大学制作展", :src => "img/top-img.png"}/
      #top-copy
        %p.sm.md リアルからちょっと離れてる空間
        %p.lg リアルから
        %p.lg ちょっと離れてる
        %p.lg 空間
      #top-info
        %p 2014年xx月xx日 ~ xx月xx日
        %p xx:xx ~ xx:xx (最終日はxx:xx ~ xx:xx)
        %p
          東京大学工学部2号館xxxx (
          %a{:href => "#"} Map
          )
    #top-city-img
  %section#nav
    .constraint
      #nav-logo
        %a#top-link{:href => "#"}
          %img{:src => "img/logo-min.png"}/
      #nav-link
        %ul
          %li
            %a#intro-link{:href => "#"} ご挨拶
          %li
            %a#gallery-link{:href => "#"} ギャラリー
        %ul
          %li
            %a#staff-link{:href => "#"} スタッフ
          %li
            %a#access-link{:href => "#"} アクセス
  #nav-alt.hidden
  %section#intro
    .constraint
      .title
        %p ご挨拶
      .container
        .img-container
          %img{:src => "img/naemura-sensei.png"}/
        .about
          %p.name お名前
          %p.prop 所属
          %p.prop 所属
          %p.prop 役職
        .greeting
          %p あいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつ
      .container
        .img-container
          %img{:src => "img/naemura-sensei.png"}/
        .about
          %p.name お名前
          %p.prop 所属
          %p.prop 所属
          %p.prop 役職
        .greeting
          %p あいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつあいさつ
  %section#gallery
    .constraint
      .title
        %p ギャラリー
      .subtitle
        %p 作品
      #gallery-works
        %ul
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "作品名", :src => "img/work.png"}/
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "作品名", :src => "img/work.png"}/
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "作品名", :src => "img/work.png"}/
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "作品名", :src => "img/work.png"}/
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "作品名", :src => "img/work.png"}/
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "作品名", :src => "img/work.png"}/
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "作品名", :src => "img/work.png"}/
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a.fancybox{:rel => "gallery1"}
              .work-elem
                .work-img
                  %img{:alt => "作品名", :src => "img/work.png"}/
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
      .subtitle
        %p メイキング
      #gallery-making
        %ul
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
          %li
            .making-elem
              %img{:alt => "風景", :src => "img/work.png"}/
  %section#staff
    .constraint
      .title
        %p スタッフ
      .subtitle
        %p プロデューサー
      %ul
        %li
          %p 北原　俊
        %li
          %p 平木　剛史
      .subtitle
        %p 会計
      %ul
        %li
          %p 山本　紘暉
      .subtitle
        %p Web・記録
      %ul
        %li
          %p 長徳　将希
        %li
          %p 都甲　直之
        %li
          %p 川瀬　佑司
        %li
          %p 李 遂喆
      .subtitle
        %p デザイン
      %ul
        %li
          %p 中村　鮎葉
        %li
          %p 高橋　一成
        %li
          %p 宇田川　祐志
        %li
          %p 栗本　拓紀
        %li
          %p 村上晋太郎
      .subtitle
        %p 会場
      %ul
        %li
          %p 藤縄　英佑
        %li
          %p 宇治土公　雄介
        %li
          %p 荒巻　祐治
        %li
          %p 田中　遼平
      .subtitle
        %p 広報
      %ul
        %li
          %p 加賀谷　北斗
        %li
          %p 向井　寛人
        %li
          %p 藤本　浩介
  %section#footer
    .constraint
      / access, link
