/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
.red {
  background-color: #00f; }

.green {
  background-color: #0f0; }

.blue {
  background-color: #f00; }

/* global */
body {
  background-color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-weight: 400;
  color: #444; }

p {
  color: black; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.constraint {
  margin: 0 auto; }

.title {
  margin-top: 40px;
  padding: 8px; }
  .title p {
    font-size: 24px; }

.subtitle {
  width: 100px;
  padding: 8px;
  border-bottom: solid 3px #1f2020; }
  .subtitle p {
    font-size: 16px;
    text-align: center; }

@media all and (max-width: 479px) {
  .constraint {
    width: 270px; }

  .md, .lg {
    display: none; }

  .sm {
    display: block; }

  .title {
    width: 270px;
    text-align: center; }

  .subtitle {
    margin: 0 auto; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .constraint {
    width: 540px; }

  .sm, .lg {
    display: none; }

  .md {
    display: block; } }
@media all and (min-width: 768px) {
  .constraint {
    width: 810px; }

  .sm, .md {
    display: none; }

  .lg {
    display: block; } }
/* local */
#top #top-img, #top #top-img-rotate {
  margin: 0 auto;
  width: 540px; }
#top #top-img-rotate {
  position: absolute;
  z-index: -1; }
#top #top-copy {
  margin: 0 auto;
  font-size: 2em; }
  #top #top-copy p {
    text-align: center; }
#top #top-info {
  padding: 8px;
  float: right; }
  #top #top-info p {
    font-size: 16px;
    margin-bottom: 4px;
    text-align: right; }
#top #top-city-img {
  height: 100px;
  background-image: url("../img/city.png"); }
#top .constraint {
  zoom: 1; }
  #top .constraint:before, #top .constraint:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020"; }
  #top .constraint:after {
    clear: both; }
@media all and (max-width: 479px) {
  #top #top-img, #top #top-img-rotate {
    width: 270px;
    margin-bottom: 30px; }
    #top #top-img img, #top #top-img-rotate img {
      width: 270px; }
  #top #top-copy {
    margin-bottom: 20px; }
    #top #top-copy p {
      font-size: 18px; }
  #top #top-info {
    padding: 0px; }
    #top #top-info p {
      font-size: 12px; }
  #top #top-copy {
    font-size: 2em;
    margin-bottom: 30px; }
  #top #top-info {
    margin-right: 20px;
    margin-bottom: 10px; } }
@media all and (min-width: 768px) {
  #top #top-img, #top #top-img-rotate {
    margin-left: 0px;
    float: left; }
  #top #top-copy {
    margin-top: 300px;
    float: left;
    font-size: 30px;
    padding: 8px; }
    #top #top-copy p {
      text-align: left;
      margin-bottom: 6px; }
  #top #top-info {
    width: 254px px-2px;
    float: left;
    padding: 8px;
    margin-right: 0px; }
    #top #top-info p {
      text-align: left; } }

#nav {
  background-color: #1f2020;
  height: 80px;
  zoom: 1; }
  #nav.stick-to-top {
    width: 100%;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    z-index: 1; }
  #nav #nav-logo {
    float: left;
    width: 134px; }
    #nav #nav-logo img {
      width: 134px;
      height: 80px; }
  #nav #nav-link {
    float: right;
    zoom: 1; }
    #nav #nav-link ul {
      float: left; }
    #nav #nav-link li {
      float: left;
      padding-top: 30px;
      margin-left: 20px; }
      #nav #nav-link li a {
        padding: 4px;
        font-size: 16px;
        text-align: center;
        color: #efefef;
        border-bottom: solid 3px #efefef; }
    #nav #nav-link:before, #nav #nav-link:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #nav #nav-link:after {
      clear: both; }
  #nav:before, #nav:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020"; }
  #nav:after {
    clear: both; }
  @media all and (max-width: 479px) {
    #nav #nav-logo {
      width: 90px; }
    #nav #nav-link ul {
      float: none; }
    #nav #nav-link li {
      float: left;
      padding-top: 14px;
      margin-left: 10px; }
      #nav #nav-link li a {
        padding: 2px;
        font-size: 10px;
        text-align: center;
        color: #efefef;
        border-bottom: solid 2px #efefef; } }

#nav-alt {
  height: 80px; }
  #nav-alt.hidden {
    display: none; }

#intro .title {
  margin-bottom: 40px; }
#intro .container {
  margin-bottom: 60px;
  zoom: 1; }
  #intro .container > div {
    float: left; }
  #intro .container .text-container {
    width: 540px; }
    #intro .container .text-container > div {
      margin-left: 80px; }
    #intro .container .text-container .about {
      margin-bottom: 30px;
      padding: 8px 0; }
      #intro .container .text-container .about p.name {
        margin-left: 30px;
        margin-bottom: 30px;
        font-size: 2em; }
  #intro .container:before, #intro .container:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020"; }
  #intro .container:after {
    clear: both; }
@media all and (max-width: 479px) {
  #intro .container {
    zoom: 1; }
    #intro .container .img-container {
      margin-left: 35px;
      margin-bottom: 20px; }
      #intro .container .img-container img {
        width: 200px;
        height: 200px; }
    #intro .container .about {
      margin-bottom: 10px;
      padding: 8px 0; }
      #intro .container .about p.name {
        width: 270px;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.5em; }
      #intro .container .about p.prop {
        margin-left: 35px;
        margin-bottom: 8px; }
    #intro .container .greeting {
      width: 270px; }
    #intro .container:before, #intro .container:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #intro .container:after {
      clear: both; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  #intro .container {
    zoom: 1; }
    #intro .container .img-container {
      margin-left: 67.5px;
      margin-bottom: 40px; }
      #intro .container .img-container img {
        width: 200px;
        height: 200px; }
    #intro .container .about {
      margin-bottom: 30px;
      padding: 8px 0; }
      #intro .container .about p.name {
        margin-left: 30px;
        margin-bottom: 30px;
        font-size: 2em; }
      #intro .container .about p {
        margin-bottom: 8px;
        margin-left: 40px; }
    #intro .container .greeting {
      width: 405px;
      margin-left: 90px; }
    #intro .container:before, #intro .container:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #intro .container:after {
      clear: both; } }
@media all and (min-width: 768px) {
  #intro {
    zoom: 1; }
    #intro .title {
      margin-left: 67.5px; }
    #intro .img-container {
      width: 270px;
      margin-left: 67.5px;
      margin-bottom: 50px; }
      #intro .img-container img {
        width: 260px;
        height: 260px; }
    #intro .about {
      width: 270px;
      margin-top: 50px;
      margin-bottom: 30px;
      margin-left: 80px;
      padding: 8px 0; }
      #intro .about p.name {
        margin-left: 30px;
        margin-bottom: 30px;
        font-size: 2em; }
      #intro .about p {
        margin-bottom: 8px;
        margin-left: 40px; }
    #intro .greeting {
      width: 540px;
      margin-left: 135px; }
    #intro:before, #intro:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #intro:after {
      clear: both; } }

#gallery {
  padding-top: 1px;
  background-color: #f8f8f8; }
  #gallery .title {
    margin-bottom: 20px; }
  #gallery .subtitle {
    margin-bottom: 30px; }
  #gallery #gallery-works {
    margin-bottom: 40px;
    zoom: 1; }
    #gallery #gallery-works:before, #gallery #gallery-works:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #gallery #gallery-works:after {
      clear: both; }
  #gallery #gallery-making {
    zoom: 1; }
    #gallery #gallery-making:before, #gallery #gallery-making:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #gallery #gallery-making:after {
      clear: both; }
  #gallery li {
    float: left; }
  #gallery .work-elem {
    margin-bottom: 30px;
    width: 270px; }
    #gallery .work-elem .work-img {
      margin-left: 20px;
      width: 230px;
      height: 172.5px;
      overflow: hidden;
      border-radius: 8px; }
      #gallery .work-elem .work-img img {
        width: 230px;
        height: 172.5px;
        border-radius: 8px; }
      #gallery .work-elem .work-img .work-description {
        height: 60px;
        position: relative;
        border-radius: 8px;
        top: -60px;
        background-color: rgba(0, 0, 0, 0.35); }
        #gallery .work-elem .work-img .work-description p {
          margin-left: 12px;
          margin-bottom: 8px;
          font-size: 14px;
          color: #efefef; }
        #gallery .work-elem .work-img .work-description .work-title {
          padding-top: 10px; }
  #gallery .making-elem {
    margin-bottom: 30px;
    width: 270px; }
    #gallery .making-elem img {
      margin-left: 20px;
      width: 230px;
      height: 172.5px;
      overflow: hidden;
      border-radius: 8px; }
      #gallery .making-elem img img {
        width: 230px;
        height: 172.5px;
        border-radius: 8px; }
  @media all and (min-width: 480px) and (max-width: 767px) {
    #gallery .subtitle {
      margin-left: 12px; } }
  @media all and (min-width: 768px) {
    #gallery .subtitle {
      margin-left: 12px; } }

#staff {
  zoom: 1; }
  #staff .title {
    margin-bottom: 20px; }
  #staff .subtitle {
    margin-bottom: 20px; }
  #staff li {
    float: left;
    width: 135px;
    margin-bottom: 20px; }
  #staff:before, #staff:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020"; }
  #staff:after {
    clear: both; }

#footer {
  background-color: #1f2020;
  height: 200px; }
