@charset 'utf-8';

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }
  &:after {
    clear: both;
  }
}

/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

// ======
// params
// ======

$white: #FFFFFF;
$gray: #E3E3E3;
$black: #1F2020;

$padding: 8px;
$elem-width: 270px;

.red {
  background-color: #00f;
}

.green {
  background-color: #0f0;
}

.blue {
  background-color: #f00;
}

/* global */

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-weight: 400;
  color: #444;
}

p {
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
}

.constraint {
  margin: 0 auto;
}


/* all */
#top {
  #top-img {
    margin: 0 auto;
    width: $elem-width * 2;
    img {
    }
  }

  #top-copy {
    margin: 0 auto;
    font-size: 2em;
    p {
      text-align: center;
    }
  }

  #top-info {
    padding: $padding;
    float: right;
    p {
      font-size: 16px;
      margin-bottom: 4px;
      text-align: right;
    }
  }

  #top-city-img {
    height: 100px;
    background-image: url("../img/city.png");
  }

  .constraint {
    @include clearfix;
  }

  @media all and (max-width: 479px) {
    #top-copy {
      font-size: 2em;
      margin-bottom: 30px;
    }
    #top-info {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }

  @media all and (min-width: 480px) and (max-width: 767px) {
  }

  @media all and (min-width: 768px) {
    #top-img {
      margin-left: 0px;
      float: left;
      img {
      }
    }

    #top-copy {
      margin-top: 300px;
      float: left;
      font-size: 30px;
      padding: $padding;
      p {
        text-align: left;
        margin-bottom: 6px;
      }
    }

    #top-info {
      width:($elem-width) - ($padding * 2)px - 2px;
      float: left;
      padding: $padding;
      margin-right: 0px;
      p { text-align: left; }
    }
  }
}

#nav {
  background-color: $black;
  height: 70px;
}


/* smart */

@media all and (max-width: 479px) {
  .constraint {
    width: $elem-width;
  }

  .md, .lg{
    display: none;
  }

  .sm {
    display: block;
  }

  #top {
    #top-img {
      margin-bottom: 30px;
      img {
        width: $elem-width;
      }
    }
    #top-copy {
      margin-bottom: 20px;
      font-size: 18px;
    }
    #top-info {
      padding: 0px;
      p {
        font-size: 12px;
      }
    }
  }
}

/* tablet */

@media all and (min-width: 480px) and (max-width: 767px) {
  .constraint {
    width: $elem-width * 2;
  }
  .sm, .lg{
    display: none;
  }

  .md {
    display: block;
  }
  #top {
  }
}

/* pc */

@media all and (min-width: 768px) {
  .constraint {
    width: $elem-width * 3;
  }

  .sm, .md{
    display: none;
  }

  .lg {
    display: block;
  }

  #top.constraing>* {
    float: left;
  }

  #top {
  }

  #nav {
    background-color: $black;
    height: 70px;
  }
}

