@charset 'utf-8';

// media querys
  @media all and (max-width: 539px) {
  }
  @media all and (min-width: 540px) and (max-width: 809px) {
  }
  @media all and (min-width: 810px) {
  }

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }
  &:after {
    clear: both;
  }
}

/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

// ======
// params
// ======

$white: #FFFFFF;
$lightgray: #efefef;
$darkgray: #34495e;
$gray: #f8f8f8;
$black: #1F2020;

$padding: 8px;
$elem-width: 270px;

// macro
// $sm-size: (max-width: 479px);
// $md-size: ((min-width: 480px) and (max-width: 767px));
// $lg-size: (min-width: 768px);

.red {
  background-color: #00f;
}

.green {
  background-color: #0f0;
}

.blue {
  background-color: #f00;
}

/* global */

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-weight: 400;
  color: #444;
}

p {
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
}

.constraint {
  margin: 0 auto;
}

.title {
  // margin-top: 40px;
  padding: $padding;
  padding-top: 40px;
  p {
    font-size: 24px;
  }
}

.subtitle {
  width: 100px;
  padding: $padding;
  border-bottom: solid 3px $black;
  p {
    font-size: 16px;
    text-align: center;
  }
}

@media all and (max-width: 539px) {
  .constraint {
    width: $elem-width;
  }
  .md, .lg{
    display: none;
  }
  .sm {
    display: block;
  }
  .title {
    width: $elem-width;
    text-align: center;
  }
  .subtitle {
    margin: 0 auto;
  }
}
@media all and (min-width: 540px) and (max-width: 809px) {
  .constraint {
    width: $elem-width * 2;
  }
  .sm, .lg{
    display: none;
  }
  .md {
    display: block;
  }
}
@media all and (min-width: 810px) {
  .constraint {
    width: $elem-width * 3;
  }
  .sm, .md{
    display: none;
  }
  .lg {
    display: block;
  }
}

/* local */

#top {
  #top-img, #top-img-rotate {
    margin: 0 auto;
    width: $elem-width * 2;
    img {
    }
  }
  #top-img-rotate {
    position: absolute;
    z-index: -1;
  }
  #top-copy {
    margin: 0 auto;
    font-size: 2em;
    p {
      text-align: center;
    }
  }
  #top-info {
    padding: $padding;
    float: right;
    p {
      font-size: 16px;
      margin-bottom: 4px;
      text-align: right;
    }
  }
  #top-city-img {
    height: 100px;
    background-image: url("../img/city.png");
  }
  .constraint {
    @include clearfix;
  }
  @media all and (max-width: 539px) {
    #top-img, #top-img-rotate {
      width: $elem-width;
      margin-bottom: 30px;
      img {
        width: $elem-width;
      }
    }
    #top-copy {
      margin-bottom: 20px;
      p {
        font-size: 18px;
      }
    }
    #top-info {
      padding: 0px;
      p {
        font-size: 12px;
      }
    }
    #top-copy {
      font-size: 2em;
      margin-bottom: 30px;
    }
    #top-info {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
  @media all and (min-width: 540px) and (max-width: 809px) {
  }
  @media all and (min-width: 810px) {
    #top-img, #top-img-rotate {
      margin-left: 0px;
      float: left;
      img {
      }
    }
    #top-copy {
      margin-top: 300px;
      float: left;
      font-size: 30px;
      padding: $padding;
      p {
        text-align: left;
        margin-bottom: 6px;
      }
    }
    #top-info {
      width:($elem-width) - ($padding * 2)px - 2px;
      float: left;
      padding: $padding;
      margin-right: 0px;
      p { text-align: left; }
    }
  }
}

#nav {
  background-color: $black;
  height: 80px;

  .constraint {
    @include clearfix;
  }

  &.stick-to-top {
    width: 100%;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    z-index: 1;
  }
  #nav-logo {
    float: left;
    width: 134px;
    img {
      width: 134px;
      height: 80px;
    }
    img.sm {
      width: 35px;
      height: 35px;
    }
  }
  #nav-link {
    float: right;
    ul {
      float: left;
    }
    li {
      float: left;
      padding-top: 30px;
      margin-left: 20px;
      a {
        padding: 4px;
        font-size: 16px;
        text-align: center;
        color: $lightgray;
        border-bottom: solid 3px $lightgray;
      }
    }
    @include clearfix;
  }
  @include clearfix;

  @media all and (max-width: 539px) {
    height: 50px;
    #nav-logo {
      padding-top: 6px;
      width: 35px;
    }
    #nav-link {
      ul {
        float: none;
      }
      li {
        float: left;
        padding-top: 14px;
        margin-left: 10px;
        a {
          padding: 2px;
          font-size: 4px;
          text-align: center;
          color: $lightgray;
          border-bottom: solid 2px $lightgray;
        }
      }
    }
  }
  @media all and (min-width: 540px) and (max-width: 809px) {
  }
  @media all and (min-width: 810px) {
  }
}

#nav-alt {
  height: 80px;
  &.hidden {
    display: none;
  }
  @media all and (max-width: 539px) {
    height: 50px;
  }
}

#intro {
  padding-bottom: 50px;
  background-color: #2c3e50;
  p {
    color: $lightgray;
    line-height: 25px;
  }
  .title {
    margin-bottom: 40px;
  }
  .container {
    padding-bottom: 60px;
    &>div {
      float: left;
    }
    .img-container {
      img {
        border-radius: $elem-width / 2;
      }
    }
    .text-container {
      width: $elem-width * 2;
      &>div {
        margin-left: 80px;
      }
      .about {
        margin-bottom: 30px;
        padding: $padding 0;
        p.name {
          margin-left: 30px;
          margin-bottom: 30px;
          font-size: 2em;
        }
        p {
        }
      }
    }
    @include clearfix;
  }
  @media all and (max-width: 539px) {
  .container {
    $img-width:   200px;
    .img-container {
      margin-left: (($elem-width) - $img-width) / 2;
      margin-bottom: 20px;
      img {
        width:  $img-width;
        height: $img-width;
      }
    }
    .about {
      margin-bottom: 10px;
      padding: $padding 0;
      p.name {
        width: $elem-width;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.5em;
      }
      p.prop {
        margin-left: (($elem-width) - $img-width) / 2;
        margin-bottom: 8px;
      }
    }
    .greeting {
      width: $elem-width;
    }
    @include clearfix;
  }
  }
  @media all and (min-width: 540px) and (max-width: 809px) {
  .container {
    .img-container {
      margin-left: $elem-width / 4;
      $img-width:   200px;
      margin-bottom: 40px;
      img {
        width:  $img-width;
        height: $img-width;
      }
    }
    .about {
      margin-bottom: 30px;
      padding: $padding 0;
      p.name {
        margin-left: 30px;
        margin-bottom: 30px;
        font-size: 2em;
      }
      p {
        margin-bottom: 8px;
        margin-left: 40px;
      }
    }
    .greeting {
      width: $elem-width * 1.5;
      margin-left: $elem-width / 3;
    }
    @include clearfix;
  }
  }
  @media all and (min-width: 810px) {
    .title {
      margin-left: $elem-width / 4;
    }
    .img-container {
      width: $elem-width;
      margin-left: $elem-width / 4;
      margin-bottom: 50px;
      $img-width: ($elem-width) - 10px;
      img {
        width:  $img-width;
        height: $img-width;
      }
    }
    .about {
      width: $elem-width;
      margin-top: 50px;
      margin-bottom: 30px;
      margin-left: 80px;
      padding: $padding 0;
      p.name {
        margin-left: 30px;
        margin-bottom: 30px;
        font-size: 2em;
      }
      p {
        margin-bottom: 8px;
        margin-left: 40px;
      }
    }
    .greeting {
      width: $elem-width * 2;
      margin-left: $elem-width / 2;
    }
    @include clearfix;
  }
}

#gallery {
  padding-top: 1px;
  padding-bottom: 50px;
  background-color: #3498db;
  $gallery-elem-padding: 12px;
  p {
    color: $lightgray;
  }
  .title {
    margin-bottom: 20px;
  }
  .subtitle {
    margin-bottom: 30px;
    border-bottom: 3px solid $lightgray;
  }

  #gallery-works {
    margin-bottom: 40px;
    @include clearfix;
  }

  #gallery-making {
    @include clearfix;
  }

  li {
    float: left;
  }

  .work-elem {
    margin-bottom: 30px;
    width: ($elem-width);
    $work-img-width: ($elem-width) - 40px;
    .work-img {
      margin-left: (($elem-width) - ($work-img-width)) * 0.5;
      width: $work-img-width;
      height: $work-img-width * 0.75;
      overflow: hidden;
      border-radius: 8px;
      img {
        width: $work-img-width;
        height: $work-img-width * 0.75;
        border-radius: 8px;
      }
      .work-description {
        $height: 60px;
        height: $height;
        position: relative;
        border-radius: 8px;
        top: -($height);
        background-color: rgba(0, 0, 0, 0.35);
        p {
          margin-left: 12px;
          margin-bottom: 8px;
          font-size: 14px;
          color: $lightgray;
        }
        .work-title {
          padding-top: 10px;
        }
      }
    }
  }

  .making-elem {
    margin-bottom: 30px;
    width: ($elem-width);
    $work-img-width: ($elem-width) - 40px;
    img {
      margin-left: (($elem-width) - ($work-img-width)) * 0.5;
      width: $work-img-width;
      height: $work-img-width * 0.75;
      overflow: hidden;
      border-radius: 8px;
      img {
        width: $work-img-width;
        height: $work-img-width * 0.75;
        border-radius: 8px;
      }
    }
  }


  @media all and (max-width: 539px) {
  }
  @media all and (min-width: 540px) and (max-width: 809px) {
  .subtitle {
    margin-left: $gallery-elem-padding;
  }
  }
  @media all and (min-width: 810px) {
  .subtitle {
    margin-left: $gallery-elem-padding;
  }
  }
}

#staff {
  background-color:  white;
  .title {
    margin-bottom: 20px;
  }
  .subtitle {
    margin-bottom: 20px;
    width: 170px;
    &.producer {
      border-bottom-color: #e74c3c;
    }
    &.money {
      border-bottom-color: #3498db;
    }
    &.recording {
      border-bottom-color: #1abc9c;
    }
    &.design {
      border-bottom-color: #f1c40f;
    }
    &.setting {
      border-bottom-color: #e74c3c;
    }
    &.PR {
      border-bottom-color: #3498db;
    }
  }
  ul {
    @include clearfix;
  }
  li {
    float: left;
    width: $elem-width / 2;
    margin-bottom: 20px;
    p {
      text-align: center;
    }
  }
  @include clearfix;

  @media all and (max-width: 539px) {
  }
  @media all and (min-width: 540px) and (max-width: 809px) {
  }
  @media all and (min-width: 810px) {
  }
}

#footer-city-img {
  width: 100%;
  height: 100px;
  background-image: url("../img/city.png");
}

#footer {
  padding-top: 40px;
  background-color: $black;
  height: 60px;
  #footer-copy {
    width: 100%;
    p {
      color: $lightgray;
      text-align: center;
    }
  }

  @media all and (max-width: 539px) {
  }
  @media all and (min-width: 540px) and (max-width: 809px) {
  }
  @media all and (min-width: 810px) {
  }
}