@charset 'utf-8';

// media querys
  @media all and (max-width: 479px) {
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
  }
  @media all and (min-width: 768px) {
  }

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }
  &:after {
    clear: both;
  }
}

/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

// ======
// params
// ======

$white: #FFFFFF;
$darkgray: #efefef;
$lightgray: #f8f8f8;
$black: #1F2020;

$padding: 8px;
$elem-width: 270px;

// macro
// $sm-size: (max-width: 479px);
// $md-size: ((min-width: 480px) and (max-width: 767px));
// $lg-size: (min-width: 768px);

.red {
  background-color: #00f;
}

.green {
  background-color: #0f0;
}

.blue {
  background-color: #f00;
}

/* global */

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-weight: 400;
  color: #444;
}

p {
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
}

.constraint {
  margin: 0 auto;
}

.title {
  margin-top: 40px;
  padding: $padding;
  p {
    font-size: 24px;
  }
}

.subtitle {
  width: 100px;
  padding: $padding;
  border-bottom: solid 3px $black;
  p {
    font-size: 16px;
    text-align: center;
  }
}

@media all and (max-width: 479px) {
  .constraint {
    width: $elem-width;
  }
  .md, .lg{
    display: none;
  }
  .sm {
    display: block;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .constraint {
    width: $elem-width * 2;
  }
  .sm, .lg{
    display: none;
  }
  .md {
    display: block;
  }
}
@media all and (min-width: 768px) {
  .constraint {
    width: $elem-width * 3;
  }
  .sm, .md{
    display: none;
  }
  .lg {
    display: block;
  }
}

/* local */

#top {
  #top-img {
    margin: 0 auto;
    width: $elem-width * 2;
    img {
    }
  }
  #top-copy {
    margin: 0 auto;
    font-size: 2em;
    p {
      text-align: center;
    }
  }
  #top-info {
    padding: $padding;
    float: right;
    p {
      font-size: 16px;
      margin-bottom: 4px;
      text-align: right;
    }
  }
  #top-city-img {
    height: 100px;
    background-image: url("../img/city.png");
  }
  .constraint {
    @include clearfix;
  }
  @media all and (max-width: 479px) {
    #top-img {
      width: $elem-width;
      margin-bottom: 30px;
      img {
        width: $elem-width;
      }
    }
    #top-copy {
      margin-bottom: 20px;
      p {
        font-size: 18px;
      }
    }
    #top-info {
      padding: 0px;
      p {
        font-size: 12px;
      }
    }
    #top-copy {
      font-size: 2em;
      margin-bottom: 30px;
    }
    #top-info {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
  }
  @media all and (min-width: 768px) {
    #top-img {
      margin-left: 0px;
      float: left;
      img {
      }
    }
    #top-copy {
      margin-top: 300px;
      float: left;
      font-size: 30px;
      padding: $padding;
      p {
        text-align: left;
        margin-bottom: 6px;
      }
    }
    #top-info {
      width:($elem-width) - ($padding * 2)px - 2px;
      float: left;
      padding: $padding;
      margin-right: 0px;
      p { text-align: left; }
    }
  }
}

#nav {
  background-color: $black;
  height: 80px;

  &.stick-to-top {
    width: 100%;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    z-index: 1;
  }
  #nav-logo {
    float: left;
    width: 134px;
    img {
      width: 134px;
      height: 80px;
    }
  }
  #nav-link {
    float: right;
    ul {
      float: left;
    }
    li {
      float: left;
      padding-top: 30px;
      margin-left: 20px;
      a {
        padding: 4px;
        font-size: 16px;
        text-align: center;
        color: $darkgray;
        border-bottom: solid 3px $darkgray;
      }
    }
    @include clearfix;
  }
  @include clearfix;

  @media all and (max-width: 479px) {
    #nav-logo {
      width: 90px;
    }
    #nav-link {
      ul {
        float: none;
      }
      li {
        float: left;
        padding-top: 14px;
        margin-left: 10px;
        a {
          padding: 2px;
          font-size: 10px;
          text-align: center;
          color: $darkgray;
          border-bottom: solid 2px $darkgray;
        }
      }
    }
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
  }
  @media all and (min-width: 768px) {
  }
}

#nav-alt {
  height: 80px;
  &.hidden {
    display: none;
  }
}

#intro {
  .title {
    margin-bottom: 40px;
  }
  .container {
    margin-bottom: 60px;
    &>div {
      float: left;
    }
    .text-container {
      width: $elem-width * 2;
      &>div {
        margin-left: 80px;
      }
      .about {
        margin-bottom: 30px;
        border-left: solid 2px $black;
        padding: $padding 0;
        p.name {
          margin-left: 30px;
          margin-bottom: 30px;
          font-size: 2em;
        }
        p {
          margin-bottom: 8px;
          margin-left: 40px;
        }
      }
    }
    .img-container {
      width: $elem-width;
      $img-width: ($elem-width) - 10px;
      img {
        width:  $img-width;
        height: $img-width;
      }
      @include clearfix;
    }
    @include clearfix;
  }

  @media all and (max-width: 479px) {
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
  }
  @media all and (min-width: 768px) {
  }
}

#gallery {
  padding-top: 1px;
  background-color: $lightgray;
  $gallery-elem-padding: 12px;

  .title {
    margin-bottom: 20px;
  }

  .subtitle {
    margin-left: $gallery-elem-padding;
    margin-bottom: 30px;
  }

  #gallery-works {
    margin-bottom: 40px;
    @include clearfix;
  }

  #gallery-making {
    @include clearfix;
  }

  li {
    float: left;
  }

  .work-elem {
    margin-bottom: 30px;
    width: ($elem-width);
    $work-img-width: ($elem-width) - 40px;
    .work-img {
      margin-left: (($elem-width) - ($work-img-width)) * 0.5;
      width: $work-img-width;
      height: $work-img-width * 0.75;
      overflow: hidden;
      border-radius: 8px;
      img {
        width: $work-img-width;
        height: $work-img-width * 0.75;
        border-radius: 8px;
      }
      .work-description {
        $height: 60px;
        height: $height;
        position: relative;
        border-radius: 8px;
        top: -($height);
        background-color: rgba(0, 0, 0, 0.35);
        p {
          margin-left: 12px;
          margin-bottom: 8px;
          font-size: 14px;
          color: $darkgray;
        }
        .work-title {
          padding-top: 10px;
        }
      }
    }
  }

  .making-elem {
    margin-bottom: 30px;
    width: ($elem-width);
    $work-img-width: ($elem-width) - 40px;
    img {
      margin-left: (($elem-width) - ($work-img-width)) * 0.5;
      width: $work-img-width;
      height: $work-img-width * 0.75;
      overflow: hidden;
      border-radius: 8px;
      img {
        width: $work-img-width;
        height: $work-img-width * 0.75;
        border-radius: 8px;
      }
    }
  }


  @media all and (max-width: 479px) {
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
  }
  @media all and (min-width: 768px) {
  }
}

#staff {

  @media all and (max-width: 479px) {
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
  }
  @media all and (min-width: 768px) {
  }
}

#footer {
  background-color: $black;
  height: 200px;

  @media all and (max-width: 479px) {
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
  }
  @media all and (min-width: 768px) {
  }
}